# Firebase API Configuration
API_KEY=
AUTH_DOMAIN=
DATABASE_URL=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=

# Firebase Admin Configuration
PRIVATE_KEY=
CLIENT_EMAIL=

# Firebase App Check
APP_CHECK_DEBUG_TOKEN_FROM_CI=

# reCaptcha Configuration
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

RECAPTCHA_V3_SITE_KEY=
RECAPTCHA_V3_SECRET_KEY=
